.header {
    position: sticky;
    top: 0;
    background: var(--color-bg, #fff);
    border-bottom: 1px solid hsl(0 0% 90%);
    z-index: 50;
}

.nav {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
}

.logo {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

.menu {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;

    > li > a,
    .trigger {
        padding: 8px 10px;
        border-radius: 8px;
        text-decoration: none;
        color: var(--unk-yellow);
        background: transparent;
        border: 0;
        cursor: pointer;
        font: inherit;
    }

    > li > a:hover,
    .trigger:hover {
        border-bottom: 1px solid #fff;
    }
}

.active > a,
.active > .trigger {
    color: #111;
    font-weight: 600;
}

.dropdown {
    position: relative;
}

.caret {
    margin-left: 6px;
    font-size: 0.8em;
    line-height: 1;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    padding-top: 8px;
    // margin-top: -8px;
    left: 0;
    min-width: 220px;
    background: #fff;
    border: 1px solid hsl(0 0% 88%);
    border-radius: 10px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
    display: none; /* oculto por defecto */
}

.dropdownMenu.show {
    display: block;
}

.dropdownMenu li {
    list-style: none;
}

.dropdownMenu a {
    display: block;
    padding: 8px 10px;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
}

.dropdownMenu a:hover,
.dropdownMenu a:focus {
    background: hsl(0 0% 96%);
    outline: none;
}
