@import 'tailwindcss';

* {
    box-sizing: border-box;
}
html {
    height: 100%;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --unk-yellow: #f9dd3b;
    --unk-red: #ed1b24;
    --unk-black: #000000;
}

@theme inline {
    --color-background: var(--color-bg);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1a1a1a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family:
        'Chakra Petch',
        system-ui,
        -apple-system,
        Segoe UI,
        Roboto,
        Arial,
        sans-serif;
    height: 100%;
    /* Fallback para navegadores antiguos */
    min-height: 100vh;

    /* iOS/Android modernos: dvh ajusta barras dinámicas */
    min-height: 100dvh;

    /* Si prefieres ser ultra explícito:
  min-block-size: 100vh;
  min-block-size: 100dvh; */

    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
    min-height: 0;
}

header,
footer {
    flex: 0 0 auto;
}

footer {
    margin-top: auto;
}
